@import url('https://fonts.googleapis.com/css2?family=Alata&family=Questrial&display=swap');
body{
    height: 90%;
}
*{
    
    padding: 0;
    font-family: alata;
}
.container{
    margin-right: 100px;
    margin-left: 100px;
}
#header{
    background-position: center;
    height:  100vh;
    background-size: cover;
}

.logo{
    width: 120px;
    margin-top: 0px;
    margin-left: 20px;
}
.header-box{
    background-size: cover;
    height: 60px;
    background-color: #F2C12E;
    border-radius: 8px;
    margin-bottom: 10%;
}
.dash{
    width: 30%;
    position: absolute;
    left: 50%;
    top: 6%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    letter-spacing: 30px;
}


#sideNav
{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    z-index: 2;
    background-image:linear-gradient(-250deg, #CEA835, black);
    transition: .5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}

nav ul li a{
    top: 30px;
    text-decoration: none;
    color: white;
}
nav ul li a:hover{

    text-decoration: none;
    color: black;
    transition: .3s;
}


#menu{
    width: 50px;
    position: fixed;
    right: 65px;
    top: 50px;
    z-index: 2;
    cursor: pointer;
}

.announcement textarea{
    cursor: default;
}


/* footer */
#footer{
    margin-top: 100px;
    padding:  50px 0 30px;
}
hr{
    width: 100%;
    border: 0;
    border-top: 1px solid #f67c92;
}

.footer-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left-col{
    flex-basis: 50%;
}



/*start*/
#boxes{

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}



.boxleft{
    padding: 10px;
    margin-left: 100px;
    flex-basis: 53%;
    background: #fff;
    width: 700px;
    height: 550px;
    border: 20px solid #A2BC68;
    border-radius: 3px;
}
.boxright{
    flex-basis: 25%;
    margin-right: 50px;
    background: #A2BC68;
    width: 300px;
    height: 610px;
    border-radius: 3px;

}

.boxa{
    background: #D93B3B;
    width: 320px;
    height: 250px;
    margin: 10px;
    border: none;
    border-radius: 10px;
}
.boxa h3{
    color: #fff;
    padding: 50px 0px;
    font-style: alata;
    font-size: 20px;
}


.boxb{
    background: #CEA835;
    width: 320px;
    height: 250px;
    margin: 10px;
    border: none;
    border-radius: 10px;
}

.boxb h3{
    color: #fff;
    padding: 50px 0px;
    font-style: alata;
    font-size: 20px;
}

.boxc{
    background: #4E96A6;
    width: 670px;
    height: 250px;
    margin: 10px;
    border: none;
    border-radius: 10px;
}
.boxa:hover{
 opacity: 0.5; 
}
.boxb:hover{
 opacity: 0.5; 
}
.boxc:hover{
 opacity: 0.5; 
}
.boxc h3{
    color: #fff;
    padding: 50px;
    font-style: alata;
    font-size: 20px;
}
.box1{
    background: #D93B3B;
    font-style: alata;
    font-size: 24px;
    background-size: cover;
    width: 290px;
    margin-left: 15px;
}
.box1 h3{
    color: #fff;
    padding: 20px;
    text-align: center;
}
.announcement{
    margin-left: 15px;
    width: 290px;
    background: #fff;

}

#says{
    margin-left: 0px;
    border: none;
    background: none;
    font-size: 18px;
    text-align:left;
    align-items: center;
    height: 200px;
    width: 290px;
    outline: none;
}





div.wrapp {
    overflow:hidden;
    overflow-y: scroll;
    height: 450px; // change this to desired height
}






@media only screen and (max-width: 770px){
    
.logo{
    width: 80px;
    margin-top: 0px;
    margin-left: 20px;
}
.header-box{
    background-size: cover;
    width: 82%;
    height: 40px;
    background-color: #F2C12E;
    border-radius: 8px;
    margin-bottom: 10%;
}
.dash{
    width: 30%;
    position: absolute;
    left: 44%;
    top: 4%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    letter-spacing: 8px;
}
    

#menu{
    left: 40%;
    cursor: pointer;
}
#sideNav
        {
            width: 180px;
            height: 100vh;
            right: -250px;
            top: 0;
            z-index: 2;
            background-image:linear-gradient(-250deg, #CEA835, black);
            transition: .5s;
        }


        .boxleft{
    
    margin-left: 8px;
    flex-basis: 50%;
    background: #fff;
    width: 200px;
    height: 350px;
    border: 20px solid #A2BC68;
    border-radius: 3px;
}
.boxright{
    background:none;
    width: 200px;
    height: 500px;
    border-radius: 3px;
}

.boxa{
    background: #D93B3B;
    width: 180px;
    height: 100px;
    margin: 10px;
    border: none;
    border-radius: 10px;
}

.boxa h3{
    color: #fff;
    padding: 30px 0px;
    font-style: alata;
    font-size: 15px;
}

.boxb{
    background: #CEA835;
    width: 180px;
    height: 100px;
    margin: 10px;
    border: none;
    border-radius: 10px;
}
    .boxb h3{
    color: #fff;
    padding: 30px 0px;
    font-style: alata;
    font-size: 15px;
}

.boxc{
    background: #4E96A6;
    width: 180px;
    height: 100px;
    margin: 10px;
    border: none;
    border-radius: 10px;
}
.boxc h3{
    color: #fff;
    padding: 30px 0px;
    font-style: alata;
    font-size: 15px;
}

        .box1{
    background: #D93B3B;
    font-style: alata;
    font-size: 24px;
    background-size: cover;
    width: 100px;
    margin-left: 15px;
}
.box1 h3{
    color: #fff;
    padding: 20px;
    text-align: center;
}
.announcement{
    margin-left: 15px;
    width: 290px;
    background: #fff;
    border: 1px solid black;
}

        /*#says{*/
        /*    margin-left: 10px;*/
        /*    border: none;*/
        /*    background: none;*/
        /*    font-size: 18px;*/
        /*    text-align:left;*/
        /*    align-items: center;*/
        /*    height: 300px;*/
        /*    width: 250px;*/
        /*}*/

}