*{
	margin: 0;
	padding: 0;
	font-family: alata;
}
#header{
	background-position: center;
	background-image: url(images/test3.png);
	height:  100vh;
	background-size: cover;
}

.container{
	margin-right: 100px;
	margin-left: 100px;
}
.logo{
	width: 180px;
	margin-top: 25px;
	margin-left: -30px;

}
.header-text{
	max-width: 800px;
	margin-left: 30px;
}
.header-text h1{
	font-size: 60px;
}
.header-text p{
	font-size: 25px;
	line-height: 35px;

}



#sideNav
{
	width: 250px;
	height: 100vh;
	position: fixed;
	right: -250px;
	top: 0;
	z-index: 2;
	background-image:linear-gradient(-250deg, #CEA835, black);
	transition: .5s;
}
nav ul li{
	list-style: none;
	margin: 50px 20px;
}

nav ul li a{
	top: 30px;
	text-decoration: none;
	color: white;
}
nav ul li a:hover{

	text-decoration: none;
	color: black;
	transition: .3s;
}


#menu{
	width: 50px;
	position: fixed;
	right: 65px;
	top: 50px;
	z-index: 2;
	cursor: pointer;
}






/* The scrollable part */

.terms{
	padding-top: 25px;
  height: 350px;
  overflow-y: scroll;
  border-bottom: 1px solid #ddd;
}

.terms p {
	color: black;
	font-stretch: 3%;
  background: #fff;
  z-index: 2;
  top: 0;
}



/* footer */
#footer{
	padding:  50px 0 30px;
}
hr{
	width: 100%;
	border: 0;
	border-top: 1px solid #f67c92;
}

.footer-row{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer-left-col{
	flex-basis: 50%;
}
.footer-right-col{
	flex-basis: 50%;
}



@media only screen and (max-width: 770px){
	#header{
		background-image: none;
	}

			#menu{
			width: 47px;
			position: fixed;
			right: 30px;
			top: 50px;
			
		}

		#sideNav
{
	width: 150px;
	height: 100vh;
	position: fixed;
	right: -250px;
	top: 0;
	z-index: 2;
	background-image:linear-gradient(-250deg, #CEA835, black);
	transition: .5s;
}
	
}