@import url('https://fonts.googleapis.com/css2?family=Alata&family=Questrial&display=swap');


*{
	
	padding: 0;
	font-family: alata;
}

.logo{
	width: 120px;
	margin-top: 0px;
	margin-left: 20px;
}
.header-box{
	background-size: cover;
	height: 60px;
	background-color: #F2C12E;
	border-radius: 8px;
	margin-bottom: 10%;
}

.Ayuda{
		width: 30%;
    position: absolute;
    left: 55%;
    top: 6%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    letter-spacing: 30px;
}

.container{
	margin-right: 100px;
	margin-left: 100px;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid black;
  border-right: none;
  padding: 5px;
  height: 12px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 28px;
  border: .5px solid black;
  background: #242424;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  left: 50%;
  top: 23%;
  transform: translate(-50%, -50%);
}

#sideNav
{
	width: 250px;
	height: 100vh;
	position: fixed;
	right: -250px;
	top: 0;
	z-index: 2;
	background-image:linear-gradient(-250deg, #CEA835, black);
	transition: .5s;
}
nav ul li{
	list-style: none;
	margin: 50px 20px;
}

nav ul li a{
	top: 30px;
	text-decoration: none;
	color: white;
}
nav ul li a:hover{

	text-decoration: none;
	color: black;
	transition: .3s;
}


#menu{
    width: 50px;
    position: fixed;
    right: 65px;
    top: 50px;
    z-index: 2;
    cursor: pointer;
}
.container-table{
	width: 100%;
	height: 100vh;
}

/*=================================*/
/*Start of table code*/
.table1{
	margin-top: 10px;
	width: 100%;
	background: #F2E9D8 ;
	border-radius: 8px;
	border-color: red;

}
.table1 th, td{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	
}
.table1 th{
	border-bottom: 0.5px solid black;
	border-width: 10%;
	padding-bottom: 8px;
}
.table1 td{
	background-color: #E0DBD2;
}

.table-bgnd{
	width: 110%;
	background-color: red;
}
#title2{
	margin-left: 10px;
}

.table2{
	width: 100%;

}
.table2 th{
	align-content: center;
	letter-spacing: 8px;
	padding-bottom: 10px;

}
.table2 td{

		   	background-color: #E0DBD2;
		  }

/* The scrollable part */

.scrollable {
  height: 300px;
  overflow-y: scroll;
  border-bottom: 1px solid #ddd;
}

.scrollable th {
	color: white;
	font-stretch: 3%;
  background: #4E96A6;
  z-index: 2;
  top: 0;
}
/*end of table code
/*=================================*/

/* footer */
#footer{
	padding:  50px 0 30px;
}
hr{
	width: 100%;
	border: 0;
	border-top: 1px solid #f67c92;
}

.footer-row{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.footer-left-col{
	flex-basis: 50%;
}


@media only screen and (max-width: 770px){
    
        #sideNav
        {
            width: 180px;
            height: 100vh;
            position: fixed;
            right: -250px;
            top: 0;
            z-index: 2;
            background-image:linear-gradient(-250deg, #CEA835, black);
            transition: .5s;
        }

            #menu{
        width: 60px;
        position: fixed;
        right: 30px;
        top: 30px;
        z-index: 2;
        cursor: pointer;
    }

		    	.table1 {
		  font-family: alata, questrial;
		  border-collapse: collapse;
		  width: 95%;
		  background: #F2E9D8;
		  margin-left: 2%;
		  margin-top: 5%;
		}
			.table2{
				 background: #F2E9D8;
			}
		   
			.footer-right-col p{
				font-size: 15px;
			}
					.wrap{
		  width: 25%;
		  position: absolute;
		  left: 56%;
		  top: 6%;
		  transform: translate(-50%, -50%);
		}
		.Ayuda{
		width: 30%;
    position: absolute;
    left: 56%;
    top: 6%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    letter-spacing: 10px;
}
.wrap{
  width: 30%;
  position: absolute;
  left: 50%;
  top: 18%;
  transform: translate(-50%, -50%);
}
}