@import url('https://fonts.googleapis.com/css2?family=Alata&family=Questrial&display=swap');

body{
	margin: 0;
	padding: 0;
	font-family: alata;
	min-height: 100vh;
	width: 100%;
	background-color: white;
}
header{
	position: fixed;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 8%;
	background: #F2C12E;
}
.title{
	height: 1px;
}
.title h5{
	margin: 15px;
	text-align: center;
	font-size: 18px;
	margin-left: 10%;

}
.log_out{
	margin-top: -10px;
	padding:  0;
	margin-right: 20px;
	float: right;
}
.logout_btn{
	text-decoration: none;
	color: black;
	font-size: 18px;
}
.logobox{
	margin-left: 10px;
	margin-top: -20px;
}
.logo{
	height: 50px;
	width: 50px;
}
.sidebar{
	top: 8%;
	padding: 10px;
	margin: 0;
	position: fixed;
	height: 100%;
	width: 152px;
	background-color: dimgray;
}
.sidebar a{
	display: block;
	margin: 5px;
	margin-bottom: 15px;
	padding-left: 10px;
	text-decoration: none;
	color: black;
	box-sizing: border-box;
}
.sidebar #main{
	width: 145px;
	background-color: orange;
	border-radius: 5px;
}

/*after the header codes in every page*/

.content{
	width: 85%;
	height: 95%px;
	position: absolute;
	margin-top: 5%;
	margin-left: 15%;
	/*outline: 2px solid black;*/ /*<------- Delete this code to remove the black borders*/
}
.Cheader{
	margin: 10px;
	margin-bottom: 10px;
}
.content button{
	margin-left: 5px;
}
#searchbar{
	width: 60%;
	height: 25px;
	margin-left: 10px;
	margin-bottom: 20px;
}
.Add{
	
}
.Add label{
	margin-left: 10px;
}
/*table code*/
.table1{
	margin: 10px;
	width: 98%;
	border: 1px solid black;
}

.table1 th, td{
	text-align: center;
}
.table1 th{
	border-bottom: 2px solid black;
	border-width: 10%;
	padding-bottom: 8px;
}